<!DOCTYPE html>
<html class="bg-muted">

<head>
  <title>株式会社DeepDive | コーポレートサイト</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/media/logo.w.mini.png">

  <meta name="description" content="株式会社DeepDive コーポレートサイト">
  <meta name="keywords" content="DeepDive, Inc., 株式会社DeepDive">
  <meta property="og:url" content="https://www.deepdive.sh" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="株式会社DeepDive" />
  <meta property="og:description" content="DeepDive, Inc. official site" />
  <meta property="og:site_name" content="DeepDive" />
  <meta property="og:image" content="https://www.deepdive.sh/media/banner1.png" />
  <meta name="twitter:card" content="summary" />

  <script src="/js/custom_element/main.js" defer></script>


  <!-- UIkit -->
  <link rel="stylesheet" href="/modules/uikit/css/uikit.min.css" />
  <script src="/modules/uikit/js/uikit.min.js" defer></script>
  <script src="/modules/uikit/js/uikit-icons.min.js" defer></script>

  <link href="/modules/fontawesome/css/fontawesome.css" rel="stylesheet" />
  <link href="/modules/fontawesome/css/solid.min.css" rel="stylesheet" />
  <link href="/modules/fontawesome/css/regular.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="/css/modern-ui.css" />
  <link rel="stylesheet" href="/css/index.css" />
  <script src="/js/init.js" type="module"></script>
  <script src="/js/index.js" type="module"></script>
</head>

<body hidden>
  <gate src="./wave.html"></gate>
  <gate src="./main.html"></gate>
</body>

</html>