<nav TopNav>
  <div class="uk-flex uk-flex-between uk-flex-middle uk-padding-small">
    <div class="uk-flex uk-flex-middle">
    </div>
    <div class="uk-flex uk-flex-middle">
      <select id="PageControll" class="uk-select radius" value="1">
        <option value="1">Hello!</option>
        <!-- <option value="2">Team & Products</option> -->
        <!-- <option value="3">Service</option> -->
        <option value="4">会社概要</option>
      </select>
    </div>
  </div>
</nav>
<div>
  <gate src="./pages/1.html"></gate>
  <!-- <gate src="./pages/2.html"></gate> -->
  <!-- <gate src="./pages/3.html"></gate> -->
  <gate src="./pages/4.html"></gate>
</div>