<div class="dash-primary-medium bg-muted"></div>
<div Page="2" class="bg-primary-medium uk-light">
  <div class="uk-section uk-section-large">
    <div class="uk-container uk-container-small">
      <show-when class="block" target="#PageControll.value" regex="2" events='["sync"]' in="fade.600" out="fade.600" inDelay="0" outDelay="0">
        <h2 class="uk-text-center"><anim-text auto mask="|" duration="300" target="#PageControll.value" regex="2" events='["sync"]'>Team & Products</anim-text></h2>
        <div class="uk-margin">
          <show-when class="block" target="#PageControll.value" regex="2" events='["sync"]' in="bottom.600" out="bottom.600" inDelay="200" outDelay="0">
            <h3 class="uk-heading-bullet">
              <a href="https://github.com/xoFeulB">
                <anim-text auto mask="|" duration="500" target="#PageControll.value" regex="2" events='["sync"]'>^.,.^ BlueFoxEnterprise</anim-text>
              </a>
            </h3>
            <p>
              BlueFoxEnterpriseは、Webブラウザ操作の自動化を革新する「BlueFox」を開発するチームです。
              Chrome、Edge、VSCodeなどのソフトウェア拡張機能の開発、直感的なUI/UX設計、そしてサーバー・クライアント間のシームレスな通信に関する深い知識を持っています。
            </p>
            <img class="radius" src="https://ooo.bluefox.ooo/media/SocialPreview_1.png">
          </show-when>
        </div>
        <div class="uk-margin">
          <show-when class="block" target="#PageControll.value" regex="2" events='["sync"]' in="bottom.600" out="bottom.600" inDelay="400" outDelay="0">
            <h3 class="uk-heading-bullet">
              <a href="https://github.com/LobeliaSecurity">
                <anim-text auto mask="|" duration="500" target="#PageControll.value" regex="2" events='["sync"]'>LobeliaSecurity™</anim-text>
              </a>
            </h3>
            <p>
              「悪意」という意味の花の名を冠するLobeliaSecurity™は、サイバー攻撃に関連するソフトウェアの研究開発や各種調査を計画・実行します。
              ソフトウェア開発・構造設計に関する高度な技術を持つ弊社の主力開発チームです。
            </p>
            <div class="uk-text-center">
              <div class="bg-muted radius">
                <img class="radius" src="https://www.lobeliasecurity.com/media/logo.png">
              </div>
            </div>
          </show-when>
        </div>
      </show-when>
    </div>
  </div>
</div>